<div class="container-fluid">
<app-alerts></app-alerts>
<div class="card">
    <h4 class="card-header" style="text-align:center">Reset Password</h4>
    <div class="card-body ">

        <form [formGroup]="form" (ngSubmit)="onSubmit() ">

            <div  class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password"
                formControlName="password" required>
                <div class="alertred" *ngIf="f.password.touched">
                    <div class="alertred" *ngIf="f.password.errors?.required">Password is required field!</div>
                </div>
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control" name="cpassword"
                formControlName="cpassword" required>
                <div class="alertred" *ngIf="f.cpassword.touched">
                    <div class="alertred" *ngIf="f.cpassword.errors?.required">Confirm Password is required field!</div>
                </div>
            </div>


            <div class="row">

            <div class="form-group col-lg-6 col-md-6" >
                <button type="submit" [disabled]="!f.password.valid||!f.cpassword.valid "  class="btn btn-primary">
                    Submit
                </button>
            </div>


          </div>
        </form>
    </div>
</div>

</div>
